{% extends "layout.html" %}

{% block title %}Package Tracker{% endblock %}

{% block main %}

<div class="mainDiv">
    <h2>Welcome to Package Tracker</h2>
    <div id="indexDiv">
        <img src="../static/PTLogo-transp.png" alt="Package tracker logo" id="indexIMG">
        <div class="content">
            <div>
                <p>
                Managing your deliveries has never been easier in the upcoming update! Package Tracker will simplifie the process by automatically retrieving and organizing track-and-trace codes from your email. 
                Stay updated with real-time package statuses and never lose track of an order again.
                </p>
                <p>
                Key Features:<br>
                Automatic Tracking: Seamlessly fetch and monitor your delivery updates.<br>
                Organized Overview: View all your packages in one convenient dashboard.<br>
                </p>
                <!-- In 2nd update: Stay Informed: Receive status updates to ensure you're always in the loop. -->
                <p>
                Say goodbye to manual tracking and let Package Tracker handle the rest. Whether it's a gift, a personal order, or a business shipment, we make sure you stay on top of it all.
                Start now and enjoy stress-free delivery tracking!
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}